#browser.tabs-top #header {
  min-height: calc(25px / var(--uiZoomLevel));
}

.win.normal #tabs-tabbar-container.top,
.linux.normal #tabs-tabbar-container.top {
  padding-top: unset !important;
}

.vivaldi {
  padding: 0;
  height: 30px !important;
}

#browser.win.win10.tabs-top #header #titlebar .window-buttongroup button:not(.vivaldi) {
  height: 30px;
}
