/* 

  	@author      : 00xWolf
  	  GitHub    : @mmsaeed509
  	  Developer : Mahmoud Mohamed
  	﫥  Copyright : Exodia OS

 	*/

* {

background:			;
foreground:			;
selected:			;
background-alt:		;
urgent:				;
active:				;
off:				;

}
